[submodule "bundle/vim-clang_complete"]
	path = bundle/vim-clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-fswitch"]
	path = bundle/vim-fswitch
	url = https://github.com/derekwyatt/vim-fswitch.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = https://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-Conque"]
	path = bundle/vim-Conque
	url = https://github.com/vim-scripts/Conque-Shell.git
[submodule "bundle/vim-zoomwin"]
	path = bundle/vim-zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-bufkill"]
	path = bundle/vim-bufkill
	url = https://github.com/vim-scripts/bufkill.vim.git
[submodule "bundle/vim-xptemplate"]
	path = bundle/vim-xptemplate
	url = https://github.com/drmingdrmer/xptemplate.git
[submodule "bundle/vim-supertab"]
	path = bundle/vim-supertab
	url = https://github.com/ervandew/supertab.git
